---
interface Props {
  class?: string;
}
const { class: className = '', ...attrs } = Astro.props;
---

<div {...attrs} class={`bg-surface border border-line p-6 relative overflow-hidden h-full ${className}`}>
  <slot />
</div>
